<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Tracking</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="ios list-ios hydrated">
    <ion-list-header class="ios hydrated">
      Trainings
    </ion-list-header>
    <ion-item *ngFor="let training of Trainings" class="user-list">
      <ion-label>
        <h5>
          <ion-icon name="person"></ion-icon> {{training.name}}
        </h5>
        <p>
          <ion-icon name="calendar-outline"></ion-icon> {{training.date}}
        </p>
        <p>
          <ion-icon name="calendar-outline"></ion-icon> {{training.start}}
        </p>
        <p>
          <ion-icon name="calendar-outline"></ion-icon> {{training.end}}
        </p>
        <p>
          <ion-icon name="pencil-outline"></ion-icon> {{training.notes}}
        </p>
      </ion-label>
      <div class="item-note" item-end>
        <button ion-button clear [routerLink]="['/edit/', training.$key]">
          <ion-icon name="create" style="zoom:2.0"></ion-icon>
        </button>
        <button ion-button clear (click)="deleteTraining(training.$key)">
          <ion-icon name="trash" style="zoom:2.0"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

